body{
    margin: 0;
    background-color: #232323;
    font-family: monospace;
    font-size: 16px;
    color: #999;
}
form *{
    margin: 5px 0;
}
form input[type="submit"]{
    background-color: #464646;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #b1b1b1;
}
.window{
    margin: 5px;
    min-width: 40px;
    min-height: 40px;
    width: auto;
    height: auto;
    resize: both;
}
.window .title{
    background-color: #434343;
    border-radius: 5px 5px 0 0;
    height: 30px;
    color: #b1b1b1;
    padding: 10px 0 0 10px;
    filter: drop-shadow(0 10px 20px #00000011);
    position: relative;

}
.window .title button{
    width: 10px;
    height: 12px;
    border-radius: 50%;
    background-color: #7a7a7a;
    border: none;
    justify-self: end;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}
.window .content{
    background-color: #343434;
    height: auto;
    width: auto;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    position: relative;
}
.window .content .resizer{
    position: absolute;
    cursor: se-resize;
    width: 15px;
    height: 15px;
    right: 0;
    bottom: 0;
}
.min .content{
    display: none;
}
.min .title{
    border-radius: 5px;
}